---
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---
<section class="container">
    <h1>We are the Rust Cameroon Community</h1>

<div>The Rust Cameroon Community is run by a small team of full time staff.</div>

</section>

<section class="container staff">
    <h1>Staff</h1>
    {% set peoplelist = collections.staff %}
    {% include "peoplelist.njk" %}
</section>

<section class="container staff">
    <h2>Technology and Engineering in our Community</h2>
    <div>The Rust Cameroon engineering staff are dedicated to supporting the technical needs of the Rust Cameroon Community through software development and administering strategic initiatives in forwarding and advancing Rust Projects and widening Rust Ecosystem. Our engineering staff are currently three primary areas of focus: </div>
    <ul>
      <li>Helping ensure that the Rust ecosystem is as prominent as possible in Cameroon and accross Africa.</li>
      <li>Infrastructure, driving engineering and efficiency efforts to ensure that the growing number of Rust developers accross Cameroon have a great experience while also trying to manage costs.</li>
    </ul>

</section>

</section>
