---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section class="container" id="mission">
    <h1>Good software is built by happy, well-supported people</h1>
    <h2>The Rust Cameroon Community is a non-profit organization dedicated to stewarding the <a href="https://www.rust-lang.org">Rust programming language</a>, nurturing the Rust ecosystem in Cameroon, and supporting rust developers and project projects.</h2>
    <div class="cta-gradient button"><a>Rustaceans</a></div>
</section>
