<footer>
    <div class="container">
      <img src="/img/rf-logo-transparent.png" alt="rust foundation logo"/>
      <div>
        <a href="https://x.com/rustcameroon237"><img class="social_icon" src="/img/social/X.png" alt="X Formely Twitter icon"/></a>
        <a href="https://discord.gg/Y5qqazcR7c"><img class="social_icon" src="/img/social/discord.png" alt="Discord icon" /></a>
      </div>
      <div>
      {% for policy in collections.policies %}
        <a href="/policies/{{ policy.data.title | lower | replace(" ", "-") }}">{{ policy.data.title }}</a>
        {% if collections.policies.indexOf(policy) < collections.policies.length - 1 %}
         |
        {% endif %}
      {% endfor %}
      </div>
    </div>
</footer>
