<meta name="title" content="Rust Foundation">
<meta name="description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://rustnews.cm">
<meta property="og:title" content="Rust Cameroon">
<meta property="og:description" content="Empowering developers and fostering innovation with Rust in Cameroon and beyond.">
<meta property="og:image" content="http://rustnews.cm/img/thumbnail.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://rustnews.cm/">
<meta property="twitter:title" content="Rust Cameroon">
<meta property="twitter:description" content="Empowering developers and fostering innovation with Rust in Cameroon and beyond.">
<meta property="twitter:image" content="http://rustnews.cm/img/thumbnail.png">
